
h1{
      color: #ff0000;
    text-shadow: 2px 2px 4px black;
    margin-top: 40px;
    text-align: center;
}
.carousel-inner {
   margin-top: 30px;
   margin-bottom: 5px;
   background-color: white;
   box-shadow: inset;
}
.navbar {
border-bottom:  4px  solid red;
}


.navbar ul li a {
    color: red;
    font-size: larger;
}

table {
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    margin: 20px 0;
}


h2  {
    color: #ff0000;
    text-shadow: 2px 2px 4px black;
    margin-top: 15px;
    text-align: center;
}


form{
   background-color: red;
   border-radius: 15px;
    box-shadow: 4px 3px 4px 4px black;
    color: white;
    text-shadow: 2px 2px 4px black;
    margin-bottom: 10px;

}

.grid-card {
    background-image: url(gridbackground.jpg);
    margin: 30px;
    padding: 10px;
    box-shadow: 2px 2px 2px 2px black;
}
